@page
@* @using Microsoft.EntityFrameworkCore.Metadata.Internal *@
@* @using Microsoft.EntityFrameworkCore.Metadata.Internal *@
@model BlogDotNet.Core.Pages.Admin.Blogs.ListModel
@{
}

<div class="bg-secondary bg-opacity-10 mb-5">
    <div class="container">
        <h3>
            HMIS - Blog
        </h3>
    </div>
</div>

@if (Model.BlogPosts != null && Model.BlogPosts.Any() )
{

    <div class="container">

        <table>


            <thead>
                <tr>
                    <th>Id</th>
                    <th>Heading</th>
                    @* <th>Page Title</th> *@

                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model.BlogPosts)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                        @* <td>@blogPost.PageTitle</td> *@
                        <td>
                            <a href="/Admin/Blogs/Edit/@blogPost.Id">View</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
   <div class="container">
       <p> No blog Posts were found</p>
   </div>
}